@import url('https://fonts.google.com/share?selection.family=Roboto:ital,wght@1,100;1,300;1,900');


body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin: -3px 0;
}

.block {
    width: 1400px;
    height: auto;
/*    border: 3px solid black;*/
}


button {
    background-color: #3882F6;
    color: white;
    font-size: medium;
    font-weight: 800;
    padding: 3px 45px;
    border-radius: 10px;
}

/* Hero Block 1 ---------*/
.hero, .footer {
background-color: #1F2937;
align-items: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    display: flex;
    font-size: 24px;
    flex-direction: row;
    color: #F9FAF8;
    justify-content: left;
    gap: 25px;
    margin: 20px 180px;
}

.headlogo img{
    display: flex;
    width: 130px;
    height: 75px;
    border-radius: 25px;
}

.headertitle {
    font-weight: bold;
    font-size: 24px;
}

.push {
    margin-left: auto;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    gap: 40px;
    padding: 40px 80px;
    }

.maintext {
    display: flex;
font-size: 48px;
color: #F9FAF8;
font-weight: bolder;
margin: 10px 0;
}

.secondtext {
    color: #E5E7EB;
    font-size: 18px;
    margin: 10px 0;
}

.heroimage {
    display: flex;
    border: 5px solid gray;
    width: 620px;
    height: 330px;
    border-radius: 10px;
}

/*  #2 information --  - -   */
.information {
    display: flex;
    flex-direction: column;
    background-color: white;
    }

.infotitle {
    display: flex;
    font-size: 36px;
    font-weight: 900;  
    color: #1F2937;
    margin: 50px;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}

.info {
    max-width: 200px;
    text-align: center;
}

.info img {
    border: 2px solid #3882F6;
    width: 180px;
    height: 180px;
    border-radius: 25px;
    padding: 0px;
}

.text {
    color: #1F2937;
}

/* #3  quote block info */ 
.quoteblock {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.quotetext {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    padding: 0 300px;
    padding-top: 150px;
}

.author {
    display: flex;
    font-weight: bolder;
    color: #1F2937;
    padding: 0 250px;
    font-size: 30px;
    padding-bottom: 150px;
}


/* #4    call to action!!!!!  */
.calltoaction {
    display: flex;
    justify-content: center;
    align-items: center;
background-color: white;
}

.bluebox {
    display: flex;
    background-color: #3882F6;
    width: 900px;
    height: 60px;
    border-radius: 10px;
    color: white;
    padding: 45px;
    margin: 100px;
    align-items: center;
    justify-content: space-around;
    gap: 75px;
}

.calltext {
    display: flex;
    flex-direction: column;
}

.callbutton {
    display: flex;  
    width: 300px;
}


.bluebox button {
    display: flex;
    border: 3px solid white;
}

.footer {
    display: flex;
    width: 1400px;
    color: #E5E7EB;
    justify-content: stretch;
    justify-content: center;
    padding: 35px 0;
}